@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* layout main */

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}

.header,
.hero,
.features,
.quote,
.join-now {
  width: 1200px;
}

/* **************  */

/* reusable class */

.bg-dark {
  background-color: #1f2937;
}

.bg-light {
  background-color: #ffffff;
}

.bg-smoked {
  background-color: #e5e7eb;
}

.txt-lg-dark {
  color: #1f2937;
  font-size: 36px;
}

.txt-sm-light {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-btn {
  color: #ffffff;
  background-color: #3882f6;
  font-size: 18px;
  padding: 8px 32px;
  border-radius: 10px;
}

/* **************  */

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.logo {
  margin-right: auto;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.links {
  display: flex;
  gap: 16px;
}

.link a {
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  align-items: center;
  height: 600px;
  gap: 140px;
}

.hero-heading {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.features {
  text-align: center;
  margin: 90px 0;
}

.features-heading {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.card {
  width: 160px;
}

.card img {
  border: 4px solid #3882f6;
  border-radius: 14px;
}

.card p {
  color: #4c5664;
}

.quote {
  padding: 125px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-weight: 300;
  font-style: italic;
}

.author {
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
}

.join-now {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  border-radius: 20px;
  padding: 60px 125px;
  margin: 100px 0;
}

.join-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.join-now section {
  margin-right: auto;
}

.join-text {
  margin: 6px 0 0;
}

.join-now .sign-up {
  border: 2px solid #ffffff;
}

.footer {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 30px 0;
}
